In [12]:
import pandas as pd

In [27]:
measurements = pd.read_csv("data/measurements.csv", delim_whitespace=True)
measurements.head(10)

,CH4,CFCs,Pb,PRES,C2H3NO5,PM2.5,warning,PAHs,NH3,longitude,CO,H2CO,PM10,TEMP,SO2,NOx,latitude,O3
0,7.44130,54.87439,42.36785,1118.19032,3.48524,8.37187,0.00000,7.02228,8.07471,-81.24441,9.08188,60.40440,7.36412,9.39019,8.88459,5.38755,23.15678,10.20220
1,7.64220,64.13209,37.07811,1134.16855,3.45157,10.00709,1.00000,5.68240,7.49355,9.85000,6.37520,61.26790,6.57565,11.56947,5.95930,7.54852,53.63333,10.89267
2,41.31320,29.31346,1094.55929,8.66360,9.45829,0.00000,7.44533,8.51808,42.54536,9.06753,53.78254,8.51395,31.09956,6.91440,4.16748,-0.35817,9.95070,NaN
3,8.29538,65.49918,54.74701,1148.97764,9.32584,9.69527,1.00000,7.68830,7.19691,44.02488,10.86198,47.85287,8.63369,20.37974,4.06890,9.59472,32.61603,8.67224
4,7.29253,50.19473,53.92036,1131.47669,3.83662,9.14643,1.00000,5.54906,7.93468,145.13643,5.44037,70.16713,7.05781,20.28159,6.80449,7.53785,-38.16604,9.37699
5,7.44166,47.26895,40.24005,1143.30048,3.72695,8.41010,1.00000,5.52409,5.97746,14.30935,5.47039,38.74769,7.02369,27.97609,7.29549,4.50767,40.92298,8.93935
6,7.65350,34.42368,52.35760,1155.41293,6.99189,7.86763,0.00000,5.77519,8.18601,-88.64235,9.22163,41.40377,8.14633,20.11986,7.96604,5.66899,46.09273,4.78564
7,5.26878,40.05312,27.04342,1175.75722,4.99633,8.98098,1.00000,5.30570,8.69562,8.96317,9.63836,55.17075,7.47734,16.85578,7.85325,10.46672,48.35149,7.19010
8,7.71687,58.35316,72.53581,1172.72853,14.14270,10.45058,1.00000,8.24316,8.68232,34.11169,11.58578,52.38552,9.05816,7.94767,3.14436,10.18958,0.46005,7.05494
9,6.90101,74.13136,42.68858,1161.76297,6.29705,9.97793,1.00000,8.34030,7.10237,2.44892,10.01326,46.16577,7.83016,7.64069,5.64195,7.79359,48.98693,10.83340

In [6]:
measurements.describe()

,CH4,CFCs,Pb,PRES,C2H3NO5,PM2.5,warning,PAHs,NH3,longitude,CO,H2CO,PM10,TEMP,SO2,NOx,latitude,O3
count,12155.000000,12155.000000,12155.000000,12155.000000,12155.000000,12155.000000,12155.000000,12155.000000,12155.000000,12155.000000,12155.000000,12155.000000,12155.000000,12155.000000,12155.000000,12155.000000,12136.000000,11436.000000
mean,7.710117,50.573324,58.759427,1110.915161,5.952501,8.653976,0.729781,6.264838,7.828504,11.671448,9.489904,48.438747,7.818937,14.828415,7.282849,8.258766,27.462914,8.303313
std,3.024004,14.053807,119.021577,129.577635,5.454805,1.619515,1.007012,2.326702,13.228104,71.989522,8.230772,15.079640,2.733953,9.903289,2.292358,7.440311,22.599957,1.700063
min,3.809720,0.000000,0.000000,0.470210,0.000000,0.000000,0.000000,-87.712550,-123.026210,-156.474320,2.466040,0.000000,-13.554060,-24.703990,-34.649660,-37.900000,-44.396720,1.587220
25%,6.861055,41.084985,36.997495,1085.958555,2.988950,8.047700,0.000000,5.315095,6.822105,-53.137220,6.737435,40.041280,6.835365,7.870725,5.844360,5.762260,10.803490,7.318647
50%,7.556640,50.290380,45.889170,1122.561510,4.341150,8.802150,1.000000,6.248510,7.527230,9.686840,8.150840,49.368970,7.536420,14.526280,7.228100,6.832470,34.258070,8.493565
75%,8.226770,60.066045,54.884660,1161.748825,6.951570,9.525730,1.000000,7.193195,8.249025,71.577370,9.513595,58.390685,8.253455,21.662715,8.643705,8.372740,43.914520,9.443698
max,94.659170,100.000000,1198.807660,1199.997630,100.000000,14.620630,10.835870,129.969720,151.080570,171.253640,84.875940,100.000000,42.352780,52.557020,58.042540,65.848110,65.848110,14.716650

In [7]:
measurements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12155 entries, 0 to 12154
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CH4        12155 non-null  float64
 1   CFCs       12155 non-null  float64
 2   Pb         12155 non-null  float64
 3   PRES       12155 non-null  float64
 4   C2H3NO5    12155 non-null  float64
 5   PM2.5      12155 non-null  float64
 6   warning    12155 non-null  float64
 7   PAHs       12155 non-null  float64
 8   NH3        12155 non-null  float64
 9   longitude  12155 non-null  float64
 10  CO         12155 non-null  float64
 11  H2CO       12155 non-null  float64
 12  PM10       12155 non-null  float64
 13  TEMP       12155 non-null  float64
 14  SO2        12155 non-null  float64
 15  NOx        12155 non-null  float64
 16  latitude   12136 non-null  float64
 17  O3         11436 non-null  float64
dtypes: float64(18)
memory usage: 1.7 MB

In [8]:
measurements.dtypes

CH4          float64
CFCs         float64
Pb           float64
PRES         float64
C2H3NO5      float64
PM2.5        float64
warning      float64
PAHs         float64
NH3          float64
longitude    float64
CO           float64
H2CO         float64
PM10         float64
TEMP         float64
SO2          float64
NOx          float64
latitude     float64
O3           float64
dtype: object

In [24]:
measurements.shape

(12155, 18)

In [26]:
measurements.head(10)

,CH4,CFCs,Pb,PRES,C2H3NO5,PM2.5,warning,PAHs,NH3,longitude,CO,H2CO,PM10,TEMP,SO2,NOx,latitude,O3
0,7.44130,54.87439,42.36785,1118.19032,3.48524,8.37187,0.00000,7.02228,8.07471,-81.24441,9.08188,60.40440,7.36412,9.39019,8.88459,5.38755,23.15678,10.20220
1,7.64220,64.13209,37.07811,1134.16855,3.45157,10.00709,1.00000,5.68240,7.49355,9.85000,6.37520,61.26790,6.57565,11.56947,5.95930,7.54852,53.63333,10.89267
2,41.31320,29.31346,1094.55929,8.66360,9.45829,0.00000,7.44533,8.51808,42.54536,9.06753,53.78254,8.51395,31.09956,6.91440,4.16748,-0.35817,9.95070,NaN
3,8.29538,65.49918,54.74701,1148.97764,9.32584,9.69527,1.00000,7.68830,7.19691,44.02488,10.86198,47.85287,8.63369,20.37974,4.06890,9.59472,32.61603,8.67224
4,7.29253,50.19473,53.92036,1131.47669,3.83662,9.14643,1.00000,5.54906,7.93468,145.13643,5.44037,70.16713,7.05781,20.28159,6.80449,7.53785,-38.16604,9.37699
5,7.44166,47.26895,40.24005,1143.30048,3.72695,8.41010,1.00000,5.52409,5.97746,14.30935,5.47039,38.74769,7.02369,27.97609,7.29549,4.50767,40.92298,8.93935
6,7.65350,34.42368,52.35760,1155.41293,6.99189,7.86763,0.00000,5.77519,8.18601,-88.64235,9.22163,41.40377,8.14633,20.11986,7.96604,5.66899,46.09273,4.78564
7,5.26878,40.05312,27.04342,1175.75722,4.99633,8.98098,1.00000,5.30570,8.69562,8.96317,9.63836,55.17075,7.47734,16.85578,7.85325,10.46672,48.35149,7.19010
8,7.71687,58.35316,72.53581,1172.72853,14.14270,10.45058,1.00000,8.24316,8.68232,34.11169,11.58578,52.38552,9.05816,7.94767,3.14436,10.18958,0.46005,7.05494
9,6.90101,74.13136,42.68858,1161.76297,6.29705,9.97793,1.00000,8.34030,7.10237,2.44892,10.01326,46.16577,7.83016,7.64069,5.64195,7.79359,48.98693,10.83340

In [29]:
measurements['warning'].describe()

count    12155.000000
mean         0.729781
std          1.007012
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max         10.835870
Name: warning, dtype: float64

In [19]:
stations = pd.read_csv("data/stations.csv", sep = '\t')
stations

,station,latitude,code,revision,longitude,QoS
0,Elamanchili,17.54907,IN,2013-02-25,82.85749,good
1,Siegburg,50.80019,DE,2017/10/19,7.20769,excellent
2,Kitgum,3.27833,UG,18 Nov 2021,32.88667,maintenance
3,Jersey City,40.72816,US,2013/12/15,-74.07764,average
4,Vahdat,38.55632,TJ,27 Dec 2017,69.01354,accep
...,...,...,...,...,...,...
1020,Leland,34.25628,US,2022/08/01,-78.04471,accep
1021,Meizhou,24.28859,CN,2020-05-06,116.11768,average
1022,Olupona,7.60000,NG,2015/12/24,4.18333,average
1023,Sukabumi,-6.91806,ID,2016/04/19,106.92667,accep
1024,Diamond Harbour,22.19303,IN,"11/30/2020, 00:00:00",88.18466,accep

In [20]:
stations.describe()

          latitude    longitude
count  1025.000000  1025.000000
mean     28.636842    11.963026
std      22.729719    73.237866
min     -44.396720  -156.474320
25%      14.954720   -59.133160
50%      35.648890    10.185270
75%      45.160240    73.855350
max      65.848110   171.253640

In [21]:
stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   station    1025 non-null   object
 1   latitude   1025 non-null   float64
 2   code       1023 non-null   object
 3   revision   1025 non-null   object
 4   longitude  1025 non-null   float64
 5   QoS        1025 non-null   object
dtypes: float64(2), object(4)
memory usage: 48.2+ KB

In [22]:
stations.dtypes

station       object
latitude     float64
code          object
revision      object
longitude    float64
QoS           object
dtype: object